body { 
    margin: 30px !important;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

html {
    background: #FFF !important;
}

.demo {
    border:1px solid #C0C0C0;
    border-collapse:collapse;
    padding:5px;
}
.demo th {
    border:1px solid #5a5a5a;
    padding:5px;
    background:#5a5a5a;
    color: #FFF;
}
.demo td {
    border:1px solid #C0C0C0;
    padding:10px;
}

caption { 
    margin-bottom: 20px;
    color: #00469B;
}
